.card {
  max-width: 273.75px;
}

.slider-container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}

.poster {
  height: 400px;
}

.title-poster {
  display: block;
  width: 276px;
  overflow: hidden;
  font-size: 20px;
  height: 20px;
  text-align: center;
}

.year {
  display: block;
  width: 276px;
  overflow: hidden;
  font-size: 20px;
  height: 20px;
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0px;
}
